/* Coloque o CSS neste arquivo */
/* RESET CSS */
body, header, main, section, div, article, nav, button, i, input, figure, figcaption, img, h1, h2, h3, h4, p, span, a, ul, li, footer {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER E BANNER DO SITE */
header, main{
    width: 100%;
    max-width: 1170px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}



/* SEARCH */

.header--logo {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.search {
    position: relative;
    width: 100%;
    max-width: 180px;
}

.search--button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    font-size: 26px;
    color: rgb(116, 116, 116);
    cursor: pointer;
}

.search--input {
    width: 100%;
    padding: 10px 5px;
    border: 2px solid rgb(165, 165, 165);
}

.search--input:focus {
    border: 2px solid rgb(0, 0, 0);
}

@media (min-width: 768px) {
    .header--logo {
        flex-direction: row;
    }
}



/* LOGO PETS */

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    order: -1;
}

.logo--image {
    position: relative;
}

.logo--heart {
    font-size: 80px;
    color: rgb(240, 158, 6);
}

.logo--paw {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.logo--title {
    color: rgb(116, 116, 116);
    font-weight: 200;
    font-size: 40px;
}

.logo--title--cursive {
    color: rgb(0, 0, 170);
    font-size: 50px;
    font-weight: 200;
    font-style: italic;
    font-family: 'Cookie', 'cursive';
}

@media (min-width: 768px) {
    .logo {
        order: 0;
    }
}



/* PROFILE */

.profile {
    color: rgb(116, 116, 116);
    font-size: 25px;
    display: flex;
    gap: 10px;
}

.profile i {
    cursor: pointer;
}

.profile--cart {
    position: relative;
}

.profile--cart span {
    position: absolute;
    padding: 2px;
    border-radius: 50%;
    top: -10px;
    right: -10px;
    background-color: rgb(255, 187, 0);
    font-size: 12px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.profile--menu {
    display: flex;
}

@media (min-width: 850px) {
    .profile--menu {
        display: none;
    }
}



/* MENU */

.header--menu {
    padding: 10px;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: rgb(140, 0, 158);
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.header--menu a {
    color: rgb(255, 255, 255);
}

.header--menu .bars{
    color: rgb(255, 165, 0);
    font-size: 25px;
    display: flex;
}

@media (min-width: 850px) {
    .header--menu {
        display: flex;
    }
}



/* BANNER */

.banner {
    width: 100%;
}

.banner--image {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner--image img {
    width: 100%;
}

.banner--comeback, .banner--advance{
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    font-size: 60px;
    color: rgb(192, 192, 192);
    cursor: pointer;
}

.banner--comeback{
    left: 0;
}

.banner--comeback:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
}

.banner--advance{
    right: 0;
}

.banner--advance:hover {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
}

.banner--options{
    background-color: rgb(255, 165, 0);
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.banner--options--image {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 100px;
    overflow: hidden;
}

.banner--options--image img {
    width: 100%;
}

.banner--options--image figcaption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0, 0.7);
    text-transform: uppercase;
}

@media (min-width: 630px) {
    .banner--image {
        height: 350px;
    }
    .banner--image img {
        width: 100%;
        height: auto;
    }
    .banner--options {
        flex-direction: row;
    }
    .banner--comeback, .banner--advance {
        width: 20%;
    }
}


/* NOVIDADES */

.news {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.news--title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(116, 116, 116);
}

.news--list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.news--list li {
    position: relative;
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.news--list figure{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.news--list img {
    height: 200px;
}

.news--list .detach {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: rgb(138, 43, 226);
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 3px;
}

.news--list h4 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin: 15px 0;
    color: rgb(116, 116, 116);
}

.news--list .price {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-weight: bold;
    color: rgb(99, 99, 99);
}

.news--list .old--price, .news--list .installments {
    font-weight: normal;
    text-decoration:  line-through;
    color: rgb(116, 116, 116);
}



/* OPTIONS */

.section--options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.options--itens {
    position: relative;
    width: 100%;
}

.options--itens img {
    width: 100%;
    height: 100%;
}

.options--itens .options--button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: ease-in-out .2s;
}

.options--itens .options--button span {
    position: absolute;
    bottom: 10%;
    padding: 10px 20px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(219, 143, 0);
    transition: ease-in-out .4s;
}

.options--itens .for--cats span {
    right: 0;
}

.options--itens .for--dogs span {
    right: 0;
}

@media (min-width: 600px) {
    .options--itens {
        width: 49%;
    }

    .options--itens .for--dogs span {
        left: 0;
        right: auto;
    }

    .options--itens .options--button:hover {
        background-color: rgb(0, 0, 0, 0.5);
    }

    .options--itens .for--cats:hover span {
        transform: translatex(-50%);
    }

    .options--itens .for--dogs:hover span {
        transform: translatex(50%);
    }
}



/* DESTAQUE */

.emphasis {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.emphasis--title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(116, 116, 116);
}

.emphasis--list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}



/* ASSINATURA */

.newsletter{
    width: 100%;
    background-color: rgb(138, 43, 226);
}

.newsletter--benefits {
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid rgb(255, 187, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.newsletter--options {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.newsletter--image {
    position: relative;
}

.newsletter--heart {
    font-size: 40px;
    color: rgb(240, 158, 6);
    display: flex;
}

.newsletter--paw {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transform: translate(50%, 50%);
    font-size: 20px;
    color: rgb(138, 43, 226);
}

.newsletter--descriptions {
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.newsletter--signature {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.newsletter--signature hgroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newsletter--signature h2, .newsletter--signature h3 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.newsletter--signature h2 {
    text-transform: uppercase;
}

.newsletter--signature h3 {
    font-weight: normal;
    font-size: 14px;
}

.newsletter--signature--register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.newsletter--signature--register input {
    padding: 10px 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.newsletter--signature--register input::placeholder{
    color: rgb(199, 199, 199);
}

.newsletter--signature--register button {
    padding: 10px;
    font-size: 14px;
    background-color: rgb(240, 158, 6);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 650px) {
    .newsletter--benefits {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .newsletter--options {
        flex-direction: row;
    }
}

@media (min-width: 520px) {
    .newsletter--signature--register {
        flex-direction: row;
    }
}



/* DESCRIÇÃO E CONTATO */

.informations {
    width: 100%;
}

.descriptions{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.descriptions--contact {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.descriptions--contact--links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.descriptions--contact--links a {
    font-size: 20px;
    display: flex;
}

.descriptions--contact--links .icon--instagram, .descriptions--contact--links .icon--twitter {
    display: flex;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(116, 116, 116);
    color: rgb(255, 255, 255);
}

.descriptions--contact--links .icon--facebook {
    color: rgb(240, 158, 6);
    font-size: 30px;
}

.descriptions--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: rgb(116, 116, 116);
}

.descriptions--company {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    align-items: center;
}

.descriptions--company h4 {
    color: rgb(59, 59, 196);
}

.descriptions--company p, .descriptions--company a {
    color: rgb(116, 116, 116);
}

.descriptions--company--payments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 200px;
}

.descriptions--company--payments img {
    width: 50px;
}

.baseboard {
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    border-top: 1px solid rgb(116, 116, 116);
    color: rgb(116, 116, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.baseboard img{
    width: 70px;
}


@media (min-width: 520px) {
    .descriptions {
        flex-direction: row;
        gap: 40px;
    }
    .descriptions--company {
        align-items: flex-start;
    }
}